@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@700&display=swap');

@font-face {
    font-family: 'Nexa Script';
    src: url('../fonts/NexaScript-Bold.woff2') format('woff2'),
        url('../fonts/NexaScript-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Code Pro';
    src: url('../fonts/Code-Pro.woff2') format('woff2'),
        url('../fonts/Code-Pro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ------------------------------ */


header {
    max-width: 1200px;
    margin: 0 auto;
    background: #FFC0CB;
}
.logo {
    width: 150px;
    margin: 0 100px;
}
nav {
    display: inline-block;
}
li {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 55px 0;
}
li a {
    color: #7FFFD4;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px #000000;
}
main, footer {
    max-width: 1200px;
    margin: 0 auto;
}
.text1, .text2 {
    padding: 20px 30px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
}
.text2 {
    background: #FFFACD;
    margin: 0 -50px 30px -50px;
    font-weight: 700;
}
.text3, .text4, .text5 {
    display: inline-block;
    padding: 10px 5px;
    font-size: 20px;
    max-width: 33%;
    vertical-align: top;
    max-height: 150px;
    overflow: auto;
}
.textsection1 {
    margin: 0 0 40px 0;
}
.text6 {
    padding: 5px 10px;
    font-family: 'Nexa Script';
    font-size: 28px;
    line-height: 130%;
    max-height: 310px;
    background: #98FB98;
    overflow: hidden;
    margin: 0 0 20px 0;
}
.text7 {
    font-size: 22px;
    font-family: 'Code Pro';
    letter-spacing: 3px;
    display: inline-block;
    max-width: 50%;
    margin: 0 0 20px 0;
}
.pic1 {
    max-width: 49%;
    display: inline-block;
    background: #7FFFD4;
    vertical-align: top;
}
.pic1 img {
    width: 100%;

}
.textsection2 {
    max-width: 500px;
    margin: 0 auto 30px auto;
}
.textsection2 p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    line-height: 140%;
    background-color: #9370DB;
    display: inline;
}
.dop span {
    display: block;
    font-size: 20px;
    background-color: #FFA500;
    margin: 0 0 5px 0;
}
.doptext1, .doptext2, .doptext3 {
    display: inline-block;
    max-width: 200px;
    max-height: 200px;
    padding: 15px;
    background: #87CEFA;
    overflow: auto;
}
.section1, .section2, .section4, .section5 {
    margin: 0 0 20px 0;
}
.section3 a {
    display: inline-block;
    margin: 0 0 30px 0;
    font-size: 24px;
    font-weight: 500;
    color: #8B008B;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
.section4 p {
    display: inline-block;
    max-width: 100px;
    padding: 10px;
    margin: 0 30px 0 0;
    background: #FA8072;
    vertical-align: top;
}
.doptext4, .doptext5 {
    padding: 30px;
    max-width: 500px;
    font-size: 18px; 
    font-weight: 700;
}
.doptext4 {
    background: #98FB98;
}
.doptext5 {
    background: #FFC0CB;
    margin: -50px 0 0 0;
}
.section6 span {
    display: inline-block;
    max-width: 300px;
    max-height: 200px;
    background-color: #9370DB;
    overflow: auto;
}

footer div {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    background: #000000;
    color: #FFFFFF;
}